html {
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

h2 {
  position: sticky;
  text-align: center;
}

h3:not(.title) {
  margin-left: 5%;
}

.title {
  text-align: center;
}

.contents {
  left: 1%;
  margin-top: 1%;
  max-width: fit-content;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: none;
}

#section-first {
  border-right: 5px solid black;
  display: flex;
  flex-direction: column;
  float: left;
  height: 75vh;
  overflow-y: auto;
  width: 20%;
}

#section-second {
  border-right: 5px solid black;
  display: flex;
  flex-direction: column;
  float: left;
  height: 75vh;
  overflow-y: auto;
  width: 20%;
}

#section-third {
  border-right: 5px solid black;
  display: flex;
  flex-direction: column;
  float: left;
  height: 75vh;
  overflow-y: auto;
  width: 20%;
}

@media only screen and (max-width: 800px) {
  body {
    display: grid;
    grid-template-rows: auto;
  }

  #section-first {
    border-bottom: 5px solid black;
    border-right: none;
    display: grid;
    height: 300px;
    overflow-y: auto;
    width: 100%;
  }

  #section-second {
    border-bottom: 5px solid black;
    border-right: none;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: auto;
    width: 100%;
  }

  #section-third {
    border-right: none;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: auto;
    width: 50%;
  }
}
